@import '@okp4/ui/lib/scss/themes.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;

  > div:first-of-type,
  > div:first-of-type > div:first-of-type {
    height: 100%;
  }
}

.axone-faucet-testnet-main {
  @include with-theme {
    height: 100%;
    overflow: auto;
    background: themed('header-background');

    .axone-faucet-testnet-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-repeat: no-repeat;
      align-items: center;

      .axone-brand-link {
        text-decoration: unset;
        color: inherit;
      }

      .axone-faucet-content {
        padding: 25px;
      }
    }
  }
}
